Source: whiteroom-gnome-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

Package: whiteroom-gnome-settings
Architecture: all
Depends: ${misc:Depends},
         whiteroom-common-settings
Description: GNOME settings in installed mode
 Pushes GNOME overrides schemas in installed mode

Package: whiteroom-gnome-livesettings
Architecture: all
Depends: ${misc:Depends},
         sidu-installer (>= 2014.01.10),
         siduction-icons,
         whiteroom-gnome-artwork,
         whiteroom-gnome-settings,
         whiteroom-common-livesettings,
         whiteroom-sddm-livesettings
         | whiteroom-ligthdm-gtk-livesettings
         | whiteroom-gdm3-livesettings
Description: GNOME settings in live mode
 Pushes GNOME overrides schemas in live mode
