## ignored editor stuff
*~
*.save

# ignored debian $foo
/debian/thunderstruck-*/
/debian/paintitblack-*/
/debian/patience-*/
/debian/whiteroom-*/

/debian/files
/debian/debhelper-build-stamp
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/tmp

