Source: @CODENAME_SAFE@-@FLAVOUR@-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: https://git.siduction.org/extra/settings-@FLAVOUR@
Vcs-Git: https://git.siduction.org/extra/settings-@FLAVOUR@.git
Vcs-Browser: https://git.siduction.org/extra/settings-@FLAVOUR@.git

Package: @CODENAME_SAFE@-@FLAVOUR@-gtk-settings
Architecture: all
Pre-Depends: lightdm,
             lightdm-gtk-greeter
Depends: ${misc:Depends}
Description: @DISPLAY@ GTK settings in installed mode
 Meta-Package add description here

Package: @CODENAME_SAFE@-@FLAVOUR@-gtk-livesettings
Architecture: all
Pre-Depends: @CODENAME_SAFE@-@FLAVOUR@-gtk-settings,
             libpam-systemd,
             gnome-icon-theme,
             gnome-icon-theme-symbolic
Depends: ${misc:Depends}
Description: @DISPLAY@ GTK settings in live mode
 Meta-Package


Package: @CODENAME_SAFE@-@FLAVOUR@-kde-settings
Architecture: all
Pre-Depends: lightdm,
             lightdm-kde-greeter
Depends: ${misc:Depends}
Description: @DISPLAY@ GTK settings in installed mode
 Meta-Package add description here

Package: @CODENAME_SAFE@-@FLAVOUR@-kde-livesettings
Architecture: all
Pre-Depends: libpam-systemd,
             gnome-icon-theme,
             gnome-icon-theme-symbolic,
             @CODENAME_SAFE@-lightdm-kde-settings
Depends: ${misc:Depends}
Description: @DISPLAY@ KDE settings in live mode
 Meta-Package add description here
