[Unit]
Description=KDE cheatcodes in live media
ConditionPathExists=/usr/share/whiteroom-kde-settings/
After=whiteroom-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/whiteroom-kde-settings/kde-cheatcodes start

[Install]
WantedBy=graphical.target
