Source: whiteroom-lxde-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>,
Build-Depends: debhelper (>= 9),
               dh-systemd
Standards-Version: 3.9.8
Homepage: http://bugs.siduction.org/projects/siduction-settings
Vcs-Git: git://git.siduction.org/code/siduction-settings.git
Vcs-Browser: http://git.siduction.org/?p=code/siduction-settings.git;a=summary

Package: whiteroom-lxde-settings
Architecture: all
Depends: ${misc:Depends},
         lxde-common,
         whiteroom-common-settings
Description: LXDE settings in installed mode
 Provides default settings for appearance and applications of the LXDE
 desktop.
 .
 This overrides LXDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: whiteroom-lxde-livesettings
Architecture: all
Depends: ${misc:Depends},
         lxpanel,
         lxterminal,
         sidu-installer (>= 2014.01.10),
         siduction-icons,
         openbox | x-window-manager,
         whiteroom-lxde-artwork,
         whiteroom-lxde-settings,
         whiteroom-common-livesettings,
         whiteroom-sddm-livesettings
         | whiteroom-ligthdm-gtk-livesettings
         | whiteroom-gdm3-livesettings
Description: LXDE settings in live mode
 Provides default settings for appearance and applications of the LXDE
 desktop in live mode.
